:root{
  --main-font: "Poppins", sans-serif;
  --main-bg-color: #0097B2;
  --btn-bg-color: #00DAFF;
  --page-bg-color: rgb(236, 236, 236)
}

/* Globales */

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

*{
  box-sizing: inherit;
  margin: 0;    
  font-family: var(--main-font);
}

/* Login */
.page-login{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--page-bg-color);
}

.container-login{
  display: flex;  
  flex-wrap: wrap;
  width: 80rem;
  border-radius: 40px;  
  overflow: hidden;
  box-shadow: 0 5px 50px 1px #adadad;
}

.container-login .logo{  
  background-color: #fff;
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
}

.container-login .logo img{
  width: 30rem;
}

.container-login .formulario{
  display: flex;
  justify-content: center;
  padding: 12rem 0;
  flex: 1;
  background-color: var(--main-bg-color);
}

.container-login .formulario form{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.container-login .formulario span:first-child{
  font-size: 3rem;
  font-weight: 600;
}

.container-login .formulario span:nth-child(2){
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.container-login .formulario .input-user,
.container-login .formulario .input-password{  
  background-color: #fff;
  padding: 0.5rem;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.container-login .formulario .input-user{  
  margin-bottom: 1rem;  
}

.container-login .formulario .input-password{
  margin-bottom: 3rem;
}

.container-login .formulario .input-user input,
.container-login .formulario .input-password input{  
  width: 25rem;
  background-color: transparent;
  border: none;
  margin-left: 5px;
  text-align: center;
}

.container-login .formulario input:focus-visible{
  outline: none;
}

.container-login .formulario .input-user:focus-within,
.container-login .formulario .input-password:focus-within{
  border-bottom: 2px solid #000;
}

.container-login .formulario .input-user i,
.container-login .formulario .input-password i{  
  font-size: 1.2rem;  
}

.container-login .formulario .btn-login{
  padding: 0.5rem 0;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: var(--btn-bg-color);
  transition: all 0.2s ease-in-out;
}

.container-login .formulario .btn-login:hover{
  background-color: #fff;
}

/* Dashboard */

.container-dashboard{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--page-bg-color);
}

/* NavBar */

.navBar-container{
  width: 25rem;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;    
  position: relative;
}

.navBar-container .logo{
  width: 100%;
  height: 13rem;
  display: flex;
  justify-content: center;  
  overflow: hidden;
}

.navBar-container .logo img{
  width: 95%;
}

.navBar-menu{
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  padding: 1rem;
  width: 25rem; 
  height: 100%;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
}

.navBar-menu>div{      
  cursor: pointer;  
}

.logout{
  width: 100%;
  position: absolute;
  bottom: 1rem;    
  padding: 1rem;
}

.logout button{
  cursor: pointer;
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem 2rem;  
  border-radius: 1rem;
  border: none;
  background-color: #ececec;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .3s ease-in-out;
}

.logout button:hover{
  background-color: #e93939;
  color: #fff;
}

.navBar-link{
  display: flex;  
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 1.5rem;  
}

.navBar-menu .navBar_span{  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 600;  
  color: #fff;    
  font-size: 1.2rem;
  text-transform: uppercase;  
}

.navBar-link svg{
  transition: all .3s ease-in-out;    
}

.submenu{
  display: grid;
  grid-template-rows: 0fr;    
  transition: all .3s ease-in-out;
  padding-left: 1rem;
}

.options{
  overflow: hidden;
  display: flex;
  flex-direction: column;  
}

.navBar_link{
  padding: 2rem;
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
}

.showOptions{
  grid-template-rows: 1fr;
}